<h1>Order id: <%= @order.id%></h1>

<table>
 <thead>
   <tr>
     <th>Order Date</th>
     <th>Customer ID</th>
     <th>Supplier ID</th>
     <th>Local Currency</th>
     <th>Local_Value</th>
     <th>Value</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><%= @order.try(:order_date).try(:strftime, "%d-%m-%Y") %></td>
     <td><%= @order.customer_id %></td>
     <td><%= @order.supplier_id %></td>
     <td><%= @order.currency %></td>
     <td><%= @order.total_order_value_pence %></td>
     <td><%= @order.convert_order_to_gbp_current_rate(@order.total_order_value_pence)%></td>
   </tr>
 </tbody>
</table>