<h1>Order <%= order.id%></h1>

<table>
 <thead>
   <tr>
     <th>Order Date</th>
     <th>Customer ID</th>
     <th>Supplier ID</th>
     <th>Delivery Address</th>
     <th>Total Order Value</th>
     <th>Currency</th>
     <th>Original Order Value in GBP</th>
     <th>Current Order Value in GBP</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><%= order.try(:order_date).try(:strftime, "%d-%m-%Y") %></td>
     <td><%= order.customer_id %></td>
     <td><%= order.supplier_id %></td>
     <td><%= order.delivery_address %></td>
     <td><%= order.total_order_value_pence %></td>
     <td><%= order.currency %></td>
     <td><%= order.convert_order_to_gbp_current_rate(order.total_order_value_pence)%></td>
     <td><%= order.convert_order_to_gbp_historical_rate(order.total_order_value_pence)%></td>
   </tr>
   <% end %>   
 </tbody>
</table>